// =============================================
//              -----Font-----
// =============================================
$serif: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$sans-serif: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, Sans-Serif;
$sans-serif-yu: YuGothic, "游ゴシック", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, Sans-Serif;



// =============================================
//              -----width-----
// =============================================
$w-hero: 1000px;



// =============================================
//              -----color-----
// =============================================
$c-font: #505050;
$c-gray: #919191;

$c-black: #000;// ヘッダー背景・フッターの線など
$c-green: #017630;// 見出し・ボタンなど

$c-orange: #f1b742;// 橙色
$c-red: #d54b40;// 赤
$c-lightGreen: #5ba2b6;// 浅葱色
$c-purple: #8080b5;// 紫
