<% include module/_header %>

    <main>
      <section>
        <h1>見出し1</h1>
        <p>テキストテキスト</p>
        <h2>見出し2</h2>
        <p>テキストテキスト</p>
      </section>
      <section>
        <h2>見出し2</h2>
        <p>テキストテキスト</p>
      </section>
    </main>

<% include module/_footer %>
