<% include module/_header %>

    <main>
      <section class="video-sec">
        <div class="video-outer"><iframe width="267" height="174" src="https://www.youtube.com/embed/mQ0Clc2F-pY" frameborder="0"></iframe></div>
        <div class="video-outer"><iframe width="267" height="174" src="https://www.youtube.com/embed/G-fp1Nboi58" frameborder="0"></iframe></div>
        <div class="video-outer"><iframe width="267" height="174" src="https://www.youtube.com/embed/mQ0Clc2F-pY" frameborder="0"></iframe></div>
      </section>
      <section>
        <h1>見出し1</h1>
        <p>テキストテキスト</p>
        <h2>見出し2</h2>
        <p>テキストテキスト</p>
      </section>
      <section>
        <h2>見出し2</h2>
        <p>テキストテキスト</p>
      </section>
    </main>

<% include module/_footer %>
